.banner-header {
  background-color: silver;
  text-align: center;
  padding: 0.25em;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.list li {
  border: 1px solid black;
  background-color: aqua;
  width: 10em;
  height: 10em;
}
