.banner-header {
  background-color: silver;
  text-align: center;
  padding: 0.25em;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.list li {
  border: 2px solid black;
  border-radius: 1.3em;
  text-align: center;
  background-color: aqua;
  width: 10em;
  height: 10em;
  margin: 1em;
}

.list p {
  margin-top: 1.3em;
}

.saveBtn svg {
  width: 2.4em;
  height: 2.4em;
  margin: 1em;
}
