.banner-header {
  background-color: silver;
  text-align: center;
  padding: 0.25em;
}

.list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.list li {
  border: 2px solid black;
  border-radius: 1.3em;
  text-align: center;
  background-color: aqua;
  width: 10em;
  height: 10em;
  margin: 1em;
}

.list p {
  margin-top: 1.3em;
}

.form label {
  font-size: 1.3em;
  margin: 0.1em;
}

.saveBtn svg {
  width: 2.2em;
  height: 2.2em;
  margin: 1em 0.3em;
  display: block;
}
span {
  text-align: center;
  display: flex;
}

span label {
  margin: 1em 0;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 20%;
}
